DB_FILE_NAME=file:local.db
APP_URL=http://localhost:3000

CLERK_SECRET_KEY=<your-secret-key>
CLERK_PUBLISHABLE_KEY=<your-publishable-key>
CLERK_PORTAL_SIGN_IN=<your-portal-url>/sign-in

NGINX_CONFIG=./nginx/nginx.conf.dev
