DB_FILE_NAME=file:local.db
APP_URL=http://localhost:3000
SIGN_IN_PAGE=/sign-in

CLERK_SECRET_KEY=<your-secret-key>
CLERK_PUBLISHABLE_KEY=<your-publishable-key>
CLERK_PORTAL_SIGN_IN=<your-portal-url>/sign-in
