PORT=3000
NODE_ENV=development
DB_FILE_NAME=file:/app/data/local.db
APP_URL=http://localhost:80

CLERK_SECRET_KEY=<your-secret-key>
CLERK_PUBLISHABLE_KEY=<your-publishable-key>
CLERK_PORTAL_SIGN_IN=<your-portal-url>/sign-in

DRIZZLE_UDATE_DB_COMMAND=db:push
